# C
*.class
*.o

# java
*.jnilib
*.class

# iso images
*.iso

# Eclipse project files
.cproject
.project
.settings/

# dpdk make files
# /dpdk-1.7.1
# /dpdk-2.0.0

# build folders
**/build/

**/bin/

*.so
*.swp
*.tmp

# latex files
*.log
*.aux
*.synctex.gz
*.bak
*.toc
*.tdo
*.out
*.bbl
*.blg

# course docs folder
/course_docs

**/x86_64-native-linuxapp-gcc/
*.classpath
*.o.cmd
*.o.d
/apps/Firewall/app/
*.gz*
*.nfs*
