# C
*.class
*.o
*.o.cmd
*.o.d

# java
*.jnilib
*.class
*.classpath

# iso images
*.iso

# Eclipse project files
.cproject
.project
.settings/

# dpdk make files
# /dpdk-1.7.1
# /dpdk-2.0.0

# build folders
**/build/
**/bin/

*.so
*.swp
*.tmp

# latex files
*.log
*.aux
*.synctex.gz
*.bak
*.toc
*.tdo
*.out
*.bbl
*.blg
*.gz*
*.nfs*
*.dvi

# course docs folder
/course_docs

# dpdk machine dependant code
**/x86_64-native-linuxapp-gcc/

# Java DPDK app build folder
/apps/Firewall/app/
